/Java/Practica Clase 5/nbproject/private/
/Java/Practica Clase 5/build/
/Java/PracticaClase5/nbproject/private/
/Java/HolaMundo/nbproject/private/
/Java/HolaMundo/build/
/Java/Leccion1/HolaMundo/nbproject/private/
/Java/EjercicioLibro/nbproject/private/
/Java/EjercicioLibro/build/
/Java/Operadores/nbproject/private/
/Java/Operadores/build/
/Java/Clase 8/venv/rectangulo/nbproject/private/
/Java/Clase 8/venv/rectangulo/build/
/Java/Clase 8/venv/mayor/nbproject/private/
/Java/Clase 8/venv/mayor/build/
/Java/Clase 9/venv/ejercicio5/nbproject/private/
/Java/Clase 9/venv/ejercicio5/build/
/Java/Clase 9/venv/ejercicio 6/nbproject/private/
/Java/Clase 9/venv/ejercicio 6/build/
/Java/Clase 9/venv/ejercicio 7/nbproject/private/
/Java/Clase 9/venv/ejercicio 7/build/
/Java/Clase 9/venv/Clase 10/nbproject/private/
/Java/Clase 9/venv/Clase 10/build/
/Java/Clase 10/nbproject/private/
/Java/Clase 10/build/
/Java/Clase10_EstacionesSwitch/nbproject/private/
/Java/Clase10_EstacionesSwitch/build/
/Java/Clase10_Calificaciones/nbproject/private/
/Java/Clase10_Calificaciones/build/
/Java/Clase10_CalificacionesSwitch/nbproject/private/
/Java/Clase10_CalificacionesSwitch/build/
